body {
    font-family: Arial;
    text-align: center;
    transition: 0.3s;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

/* Dark Theme */
.dark {
    background-color: #222;
    color: white;
}
